[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "6.0.10"
fastapi = "0.93.0"
aiohttp = "*"
prometheus-client = "*"
uvicorn = "*"
pyyaml = "*"
six = "*"
passlib = "*"
pymongo = "*"
mongoengine = "*"
url-normalize = "*"

[dev-packages]

[requires]
python_version = "3.11"
